input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.editMemberDiv {
    display: none;
    border-style: none;
    border-width: 0.5px;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 3px #eee;
    width: 200px;
    
}

/*
    table attributes

*/

table {
    font-family: Arial, sans-serif;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

/*
    table header attributes

*/

th {
    
    padding: 5px;
    border-radius: 6px;
}

/* 

    table cell attributes

*/

td {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
}

    td:hover {
    
        background-color: #eee;
        
    }



    /*
        div element to hold the forms

    */

.addMemberDiv {

    border-style:none;
    border-width: 0.5px;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 3px #eee; 
    width: 200px;
    display: flex;
    flex-direction: column;
    
    margin: 10px;
}


    /* 

        form element attributes
    */

.addMemberForm {
    margin: 10px;


}

/*
    input field attributes

*/

.field {
    border-radius: 6px;
    border-style: solid;
    border-width: 0.5px;
}


/*
    button attributes

*/

.button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    background-color: #eee;
    
}

    .button:hover {
    
        background-color: grey;
        color: white;
        border-color: white;
    }

.closeButton {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    
    border-width: 0.1px;
    background-color: #eee;
    box-shadow: 2px 2px #808080;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

    .closeButton:hover {
        background-color: grey;
        color:white;
        border-color: white;
    }

.editHeader {
    text-align: center;

}